LPG Distribution System/LPG Distribution System/Connected Services/LPGDSServiceRef/CustomerMgnt2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54601/CustomerMgnt.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService2" />
  <xs:element name="AddCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService2" minOccurs="0" name="customer" nillable="true" type="q1:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService2" minOccurs="0" name="AddCustomerResult" nillable="true" type="q2:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>