LPG Distribution System/LPG Distribution System/Connected Services/MainService/MainService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MainService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54601/MainService/MainService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54601/MainService/MainService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54601/MainService/MainService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMainService_GetDistributor_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDistributor" />
  </wsdl:message>
  <wsdl:message name="IMainService_GetDistributor_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDistributorResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_TestConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:TestConnection" />
  </wsdl:message>
  <wsdl:message name="IMainService_TestConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_GetPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPassword" />
  </wsdl:message>
  <wsdl:message name="IMainService_GetPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_SetPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:SetPassword" />
  </wsdl:message>
  <wsdl:message name="IMainService_SetPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IMainService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:portType name="IMainService">
    <wsdl:operation name="GetDistributor">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/GetDistributor" message="tns:IMainService_GetDistributor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/GetDistributorResponse" message="tns:IMainService_GetDistributor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/TestConnection" message="tns:IMainService_TestConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/TestConnectionResponse" message="tns:IMainService_TestConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/GetPassword" message="tns:IMainService_GetPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/GetPasswordResponse" message="tns:IMainService_GetPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/SetPassword" message="tns:IMainService_SetPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/SetPasswordResponse" message="tns:IMainService_SetPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/Login" message="tns:IMainService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/LoginResponse" message="tns:IMainService_Login_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMainService" type="tns:IMainService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDistributor">
      <soap:operation soapAction="http://tempuri.org/IMainService/GetDistributor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestConnection">
      <soap:operation soapAction="http://tempuri.org/IMainService/TestConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPassword">
      <soap:operation soapAction="http://tempuri.org/IMainService/GetPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPassword">
      <soap:operation soapAction="http://tempuri.org/IMainService/SetPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IMainService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MainService">
    <wsdl:port name="BasicHttpBinding_IMainService" binding="tns:BasicHttpBinding_IMainService">
      <soap:address location="http://localhost:54601/MainService/MainService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>