LPG Distribution System/LPG Distribution System/Connected Services/MainService/MainService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService2" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DistributorUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AgencyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContectNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisId" type="xs:int" />
      <xs:element minOccurs="0" name="DistributorCode" type="xs:int" />
      <xs:element minOccurs="0" name="DistributorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="District" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GSTIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LicenceExpiryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LicenceIssueDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PANnumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Taluka" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DistributorUser" nillable="true" type="tns:DistributorUser" />
</xs:schema>