LPG Distribution System/LPG Distribution System/Connected Services/AccountingRef/Accounting.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Accounting" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54601/Accounting/Accounting.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54601/Accounting/Accounting.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54601/Accounting/Accounting.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAccounting_GetTxCylinders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTxCylinders" />
  </wsdl:message>
  <wsdl:message name="IAccounting_GetTxCylinders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTxCylindersResponse" />
  </wsdl:message>
  <wsdl:message name="IAccounting_GetTxStoveRegulators_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTxStoveRegulators" />
  </wsdl:message>
  <wsdl:message name="IAccounting_GetTxStoveRegulators_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTxStoveRegulatorsResponse" />
  </wsdl:message>
  <wsdl:portType name="IAccounting">
    <wsdl:operation name="GetTxCylinders">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccounting/GetTxCylinders" message="tns:IAccounting_GetTxCylinders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccounting/GetTxCylindersResponse" message="tns:IAccounting_GetTxCylinders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTxStoveRegulators">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccounting/GetTxStoveRegulators" message="tns:IAccounting_GetTxStoveRegulators_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccounting/GetTxStoveRegulatorsResponse" message="tns:IAccounting_GetTxStoveRegulators_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAccounting" type="tns:IAccounting">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTxCylinders">
      <soap:operation soapAction="http://tempuri.org/IAccounting/GetTxCylinders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTxStoveRegulators">
      <soap:operation soapAction="http://tempuri.org/IAccounting/GetTxStoveRegulators" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Accounting">
    <wsdl:port name="BasicHttpBinding_IAccounting" binding="tns:BasicHttpBinding_IAccounting">
      <soap:address location="http://localhost:54601/Accounting/Accounting.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>