LPG Distribution System/LPG Distribution System/Connected Services/StockMgntRef/StockMgnt.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StockMgnt" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54601/StockMgnt.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54601/StockMgnt.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54601/StockMgnt.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStockMgnt_GetCylinders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCylinders" />
  </wsdl:message>
  <wsdl:message name="IStockMgnt_GetCylinders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCylindersResponse" />
  </wsdl:message>
  <wsdl:message name="IStockMgnt_GetStoves_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStoves" />
  </wsdl:message>
  <wsdl:message name="IStockMgnt_GetStoves_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStovesResponse" />
  </wsdl:message>
  <wsdl:message name="IStockMgnt_GetRegulators_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRegulators" />
  </wsdl:message>
  <wsdl:message name="IStockMgnt_GetRegulators_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRegulatorsResponse" />
  </wsdl:message>
  <wsdl:message name="IStockMgnt_SetCylinders_InputMessage">
    <wsdl:part name="parameters" element="tns:SetCylinders" />
  </wsdl:message>
  <wsdl:message name="IStockMgnt_SetCylinders_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetCylindersResponse" />
  </wsdl:message>
  <wsdl:portType name="IStockMgnt">
    <wsdl:operation name="GetCylinders">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockMgnt/GetCylinders" message="tns:IStockMgnt_GetCylinders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockMgnt/GetCylindersResponse" message="tns:IStockMgnt_GetCylinders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStoves">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockMgnt/GetStoves" message="tns:IStockMgnt_GetStoves_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockMgnt/GetStovesResponse" message="tns:IStockMgnt_GetStoves_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRegulators">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockMgnt/GetRegulators" message="tns:IStockMgnt_GetRegulators_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockMgnt/GetRegulatorsResponse" message="tns:IStockMgnt_GetRegulators_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetCylinders">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockMgnt/SetCylinders" message="tns:IStockMgnt_SetCylinders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockMgnt/SetCylindersResponse" message="tns:IStockMgnt_SetCylinders_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStockMgnt" type="tns:IStockMgnt">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCylinders">
      <soap:operation soapAction="http://tempuri.org/IStockMgnt/GetCylinders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStoves">
      <soap:operation soapAction="http://tempuri.org/IStockMgnt/GetStoves" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegulators">
      <soap:operation soapAction="http://tempuri.org/IStockMgnt/GetRegulators" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCylinders">
      <soap:operation soapAction="http://tempuri.org/IStockMgnt/SetCylinders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StockMgnt">
    <wsdl:port name="BasicHttpBinding_IStockMgnt" binding="tns:BasicHttpBinding_IStockMgnt">
      <soap:address location="http://localhost:54601/StockMgnt.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>