LPG Distribution System/LPG Distribution System/Connected Services/StockMgntRef/StockMgnt.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54601/StockMgnt.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService2" />
  <xs:element name="GetCylinders">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCylindersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService2" minOccurs="0" name="GetCylindersResult" nillable="true" type="q1:ArrayOfCylinder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStoves">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStovesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService2" minOccurs="0" name="GetStovesResult" nillable="true" type="q2:ArrayOfStove" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegulators">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegulatorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfService2" minOccurs="0" name="GetRegulatorsResult" nillable="true" type="q3:ArrayOfRegulator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCylinders">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfService2" minOccurs="0" name="cylinders" nillable="true" type="q4:ArrayOfCylinder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCylindersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetCylindersResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>