LPG Distribution System/LPG Distribution System/Connected Services/SynchroRef/Synchronization1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService2.Synchronization" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService2.Synchronization" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSynchro">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Synchro" nillable="true" type="tns:Synchro" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSynchro" nillable="true" type="tns:ArrayOfSynchro" />
  <xs:complexType name="Synchro">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Operation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecordId" type="xs:int" />
      <xs:element minOccurs="0" name="TableName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Synchro" nillable="true" type="tns:Synchro" />
</xs:schema>