LPG Distribution System/LPG Distribution System/Connected Services/SynchroRef/Synchronization.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Synchronization" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54601/Synchro/Synchronization.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54601/Synchro/Synchronization.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54601/Synchro/Synchronization.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService2.Synchronization" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISynchronization_AddRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRecord" />
  </wsdl:message>
  <wsdl:message name="ISynchronization_AddRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRecordResponse" />
  </wsdl:message>
  <wsdl:message name="ISynchronization_GetRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecords" />
  </wsdl:message>
  <wsdl:message name="ISynchronization_GetRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="ISynchronization_SynchroToCentralDB_InputMessage">
    <wsdl:part name="parameters" element="tns:SynchroToCentralDB" />
  </wsdl:message>
  <wsdl:message name="ISynchronization_SynchroToCentralDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:SynchroToCentralDBResponse" />
  </wsdl:message>
  <wsdl:portType name="ISynchronization">
    <wsdl:operation name="AddRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/ISynchronization/AddRecord" message="tns:ISynchronization_AddRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISynchronization/AddRecordResponse" message="tns:ISynchronization_AddRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRecords">
      <wsdl:input wsaw:Action="http://tempuri.org/ISynchronization/GetRecords" message="tns:ISynchronization_GetRecords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISynchronization/GetRecordsResponse" message="tns:ISynchronization_GetRecords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SynchroToCentralDB">
      <wsdl:input wsaw:Action="http://tempuri.org/ISynchronization/SynchroToCentralDB" message="tns:ISynchronization_SynchroToCentralDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISynchronization/SynchroToCentralDBResponse" message="tns:ISynchronization_SynchroToCentralDB_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISynchronization" type="tns:ISynchronization">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddRecord">
      <soap:operation soapAction="http://tempuri.org/ISynchronization/AddRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecords">
      <soap:operation soapAction="http://tempuri.org/ISynchronization/GetRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SynchroToCentralDB">
      <soap:operation soapAction="http://tempuri.org/ISynchronization/SynchroToCentralDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Synchronization">
    <wsdl:port name="BasicHttpBinding_ISynchronization" binding="tns:BasicHttpBinding_ISynchronization">
      <soap:address location="http://localhost:54601/Synchro/Synchronization.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>