LPG Distribution System/LPG Distribution System/Connected Services/TransactionMgnt/TransactionMgnt31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService2" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TxCylinder">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:double" />
      <xs:element minOccurs="0" name="CGST" type="xs:double" />
      <xs:element minOccurs="0" name="CashMemoNo" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CylinderDetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="Quentity" type="xs:int" />
      <xs:element minOccurs="0" name="SGST" type="xs:double" />
      <xs:element minOccurs="0" name="Total" type="xs:double" />
      <xs:element minOccurs="0" name="TxDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TxId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TxCylinder" nillable="true" type="tns:TxCylinder" />
  <xs:complexType name="ArrayOfGSTRates">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GSTRates" nillable="true" type="tns:GSTRates" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGSTRates" nillable="true" type="tns:ArrayOfGSTRates" />
  <xs:complexType name="GSTRates">
    <xs:sequence>
      <xs:element minOccurs="0" name="CGST" type="xs:double" />
      <xs:element minOccurs="0" name="Comodity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SGST" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GSTRates" nillable="true" type="tns:GSTRates" />
  <xs:complexType name="ArrayOfTxCylinder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TxCylinder" nillable="true" type="tns:TxCylinder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTxCylinder" nillable="true" type="tns:ArrayOfTxCylinder" />
</xs:schema>