LPG Distribution System/LPG Distribution System/Connected Services/TransactionMgnt/TransactionMgnt.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TransactionMgnt" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54601/TransactionMgnt.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54601/TransactionMgnt.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITransactionMgnt_AddRegulatorTx_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRegulatorTx" />
  </wsdl:message>
  <wsdl:message name="ITransactionMgnt_AddRegulatorTx_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRegulatorTxResponse" />
  </wsdl:message>
  <wsdl:message name="ITransactionMgnt_AddStoveTx_InputMessage">
    <wsdl:part name="parameters" element="tns:AddStoveTx" />
  </wsdl:message>
  <wsdl:message name="ITransactionMgnt_AddStoveTx_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddStoveTxResponse" />
  </wsdl:message>
  <wsdl:message name="ITransactionMgnt_AddCylenderTx_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCylenderTx" />
  </wsdl:message>
  <wsdl:message name="ITransactionMgnt_AddCylenderTx_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCylenderTxResponse" />
  </wsdl:message>
  <wsdl:portType name="ITransactionMgnt">
    <wsdl:operation name="AddRegulatorTx">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransactionMgnt/AddRegulatorTx" message="tns:ITransactionMgnt_AddRegulatorTx_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransactionMgnt/AddRegulatorTxResponse" message="tns:ITransactionMgnt_AddRegulatorTx_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddStoveTx">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransactionMgnt/AddStoveTx" message="tns:ITransactionMgnt_AddStoveTx_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransactionMgnt/AddStoveTxResponse" message="tns:ITransactionMgnt_AddStoveTx_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCylenderTx">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransactionMgnt/AddCylenderTx" message="tns:ITransactionMgnt_AddCylenderTx_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransactionMgnt/AddCylenderTxResponse" message="tns:ITransactionMgnt_AddCylenderTx_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITransactionMgnt" type="tns:ITransactionMgnt">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddRegulatorTx">
      <soap:operation soapAction="http://tempuri.org/ITransactionMgnt/AddRegulatorTx" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddStoveTx">
      <soap:operation soapAction="http://tempuri.org/ITransactionMgnt/AddStoveTx" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCylenderTx">
      <soap:operation soapAction="http://tempuri.org/ITransactionMgnt/AddCylenderTx" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TransactionMgnt">
    <wsdl:port name="BasicHttpBinding_ITransactionMgnt" binding="tns:BasicHttpBinding_ITransactionMgnt">
      <soap:address location="http://localhost:54601/TransactionMgnt.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>